.featured{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;

    font-family: var(font-family);
    background-image: var(--color-background);
    
}

.recipe_alternative_button{
   
    background-color:#333;
    padding:20px;
    max-height: 380px;
    border-radius:15px;
    color:#fff;

    font-size:40px;
    font-family:sans-serif;
    word-wrap: break-word; 

    
}

.recipe_alternatives{
    margin-left: auto;
    margin-right: auto;


    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.recipe_alternative_button img {
    width: 250px;
    height: 300px;
    object-fit: contain;
}

.recipe_alternative_button p {

    object-fit: contain;
}


@media screen and (max-width: 650px) {
    .recipe_alternatives {
        margin-left: auto;
        margin-right: auto;
        display:grid;
        grid-template-columns:75vw ;
    }   

    .featured{

        min-height: 200vh;
        font-family: var(font-family);
        background-image: var(--color-background);
    }

}