.User_Template{
    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    gap:20px;

    padding: 2px 5px;
    word-break: break-all;
}

.User_Template button {
    background-color: brown;
}


@media screen and (max-width: 650px) {
    .User_Template {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap:2px;

    }   



}

.toggle_Box{

    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px 1px rgba(23, 9, 219, 0.3);
    height: 19px;
    width: 19px;

}

.toggle_Box input {
position: fixed;
margin-top: 0px;
}
