.auth_form_style, .login_form, .register_form{
  display: flex;
  flex-direction: column;
}

.auth_form_container{
  padding: 5rem;
  border:1px solid white;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.25rem 0rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link_button{
  background: none;
  color: white;
  text-decoration: underline;
}