


.Search_Results button {
    background-color: #3f51b5;
    color: white;
    padding: 0px 100px;
    border-radius: 5px;
    outline: 0;
    text-transform: uppercase;
    margin: 10px 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px lightgray;
    transition-duration: 250ms;
    max-width: 500px;
    max-height: 200px;

}


.Search_Results_Image img{
    width: 300.56px;
    height: 124.56px;
}

.Search_Results_Title{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;

    background-color: rgb(17, 0, 255);
    text-align: center;
}

.Search_Results_Info{

    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: rgb(255, 38, 0);
    text-align: center;
}