.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.footer_settings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_links a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}